@define-mixin atSmall{
    @media(min-width: 550px){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media(min-width: 800px){
        @mixin-content;
    }
}

@define-mixin atLarge{
    @media(min-width: 1000px){
        @mixin-content;
    }
}