.wrapper{
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    
    @mixin atSmall{
        max-width: 500px;
    }
    @mixin atMedium{
        max-width: 600px;
    }
    @mixin atLarge{
        max-width: 800px;
    }
}